# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MRC\Stationery Shop\Stationery Shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
